@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	/* Definición de las variables globales */
	:root {
--text: #e6e7ef;
--background: #0a0b14;
--primary: #9ca0d6;
--secondary: #252b75;
--accent: #414ad1;
--button-primary: #9ca0d6;
--button-secondary :#252b75;
--buttonText-primary: #0a0b14;
--buttonText-secondary: #e6e7ef;
--outline-primary: #7b7fba;
--outline-secondary: #1c215e;
--incorrect: red;
--correct: green;
--correct: #0fcd0f;
	}
}
